body {
    background-color: aliceblue;
}

/* .column_container {
    display: flex;
} */
/* .column  {
    width: 14%;

    float: left;
    padding: 10px;

}

.column img {
    height: 120px;
    border-radius: 20px;
    padding: 10px;
    object-fit: cover;

} */
.container img {
    width: 16%;
    border-radius: 10px;
    /* float: left; */
}
.row {
    display: flex;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
}