@media   (min-width: 320px) and (max-width: 576px){
    body {
        background-color: peachpuff;

    }
    .second {
        display: block;
    }
    .first,
    .third,
    .fourt,
    .fifth,
    .sexth {
        display: none;
    }
}