@media (min-width: 768px) and (max-width: 992px){
    body {
        background-color: peru;
    }
    .fourt {
        display: block;
    }
    .first,
    .second,
    .third,
    .fifth,
    .sexth {
        display: none;
    }
}