body {
    background-color: aliceblue;
}

img {
    width: 16%;
    border-radius: 1em;
}
.row-container {
     
}
.row-detail {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.aside {
    background-color: rgb(224, 218, 218);
    border-radius: 1rem;
    padding: 1rem;
}