body {
    text-align: center;
}
.container {
    border-radius: 30px;
    height: 40px;
    border: 2px solid grey;
    width: 80px;
    position: absolute;
    
}
.container:active {
    background-color: rgb(40, 153, 153);
}
.circle {
    display: block;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: 2px 1px 3px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
   
}
.container:hover .circle {
    position: relative;
    background-color: bisque;
    right: 0;
}
/* .circle:hover {
    position: relative;
    bottom: 0;
    right: 0;
    background-size: contain;

} */