body {
    background-color: white;
}
.container {
    border: 2px solid black;
    background-color: white;
    height: 500px;
    padding-top: 210px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
   
}
.box4{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}
.box1 {
    background-color: white;
    height: 50px;
    width: 50px;
    box-shadow: -2px 1px 3px ;
}
.box1:first-child {
    box-shadow: 2px 1px 3px;
}
.box2 {
    background-color: white;
    height: 50px;
    width: 50px;
    box-shadow: -2px 1px 3px;
  
}
.box2:first-child {
    box-shadow: 2px 1px 3px ;
}
.detail:first-child {
    background-color: palevioletred;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;

}
.detail {
    background-color: palevioletred;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;

}
.detail2:first-child {
    background-color: palevioletred;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.detail2:last-child {
    background-color: palevioletred;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    }
.ls:hover {
    position: absolute;
    top: 50%;
    right: 50% ;
    margin: 0 auto;
    margin-top: 25px;
    
  

}
 .detail:first-child:hover {
    position: absolute;
    top: 40%;
    right: 40%;
    
} 
.detail2:hover {
    position: absolute;
    top: 40%;
    right: 40%;
} 



