body {
    background-color: blueviolet;
    height: 300px;

}
input {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPB_pDGaTKHoQVE-76Dw57Wda-X6IWONmGJw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50px;
    text-overflow: clip;
}
input:focus {
    background-size: contain;
    width: 250px;
    border: none;
    text-align: center;

}
