body {
    margin-top: 30px;
    text-align: center;
}

h1 {
    background-color: gray;
    position: absolute;
    margin-left: 50px;
    color: whitesmoke;
    padding: 14px;
    position: absolute;
}

.shy {
    background-color: red;
    border-radius: 50%;
    display: inline;
    padding: 15px;
    z-index: 1;
    position: relative;
    top: 15px;
    right: 17px;
    color: white;
    font-size: 20px;

}
h1:hover {
    /* transition-duration: 1s; */
    /* transition-delay: 2s; */
    transition-timing-function: 2s;
    background-color: red;
    
    
}
.shy:hover {
    
    transition: all 0.2s ease-in-out;
    display: none;

}